/* setup snippet  */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

/* wrapper class  */
.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

/* typography */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, p, ul {
  margin: 0;
}

h1 { font-size: 4rem;}

h2 { 
  font-size: 3rem;
  margin: 10px 0;
}

nav {
  font-size: 1.8rem;
}

input, textarea {
  font-size: 2rem;
}

label, p {
  font-size: 1.8rem;
}

.priorityItems label {
  font-size: 1.7rem;
  margin-left: 20px;
}

th {
  font-size: 1.7rem;
}

th {
  letter-spacing: 2px;
}

td {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

/* Size styling  */
header {
  min-height: 10vh;
}

header.wrapper {
  margin-top: 20px;
}

main {
  min-height: 78vh;
}

.footerClass {
  margin-top: 20px;
  min-height: 5vh;
  text-align: center;
}

.footerClass p {
  font-size: 1.5rem;
}

/* home page section styling  */
main.wrapper > section:nth-child(1) > ol:nth-child(2) > li {
  margin: 20px 0;
  font-size: 2rem;
}

/* Style the header + navigation bar  */
header {
  display: flex;
  margin-top: 20px;
}

.navList {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.navList li {
  list-style-type: none;
  margin-left: 20px;
}

.navList a {
  text-decoration: none;
}

.active {
  border-bottom: thick double #2090db;
}

/* Style the Ticket Creation Form  */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

label[for="newRequester"] {
  margin-bottom: 10px;
}

#newRequester {
  width: 30vw;
  margin-bottom: 20px;
}

#newDescription {
  width: 40vw;
  margin-bottom: 20px;
  resize: none;
}

label[for="newDescription"] {
  margin-bottom: 10px;
}

.priorityContainer {
  display: flex;
  flex-direction: column;
}

.priorityContainer p {
	margin: 0 0 10px 0;
}

.priorityItems {
  display: flex;
  margin-bottom: 25px;
}

#newPriorityLow {
	margin-left: 0;
}

#newPriorityMedium {
  margin-left: 60px;
}

#newPriorityHigh {
  margin-left: 60px;
}

 /* styling the form submit button  */
form button {
  width: 130px;
  border-top: 1px solid #96d1f8;
  background-color: #2090db;
  background: linear-gradient(linear,left top,left bottom,from(#3e779d), to(#65a9d7));
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: Helvetica, Arial, Sans-Serif;
}

/* style sweetalerts  */
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.swal-text {
	text-align: center;
}

/* Style the Ticket Logs Table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e5f5ff;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 35%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 15%;
}

th,
td {
  padding: 20px;
}

/* zebra striping */

thead {
  background-color: #508abb;
  color: #fffffc;
}

tbody {
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: #f4fbff;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* media queries  */

/* show navigation, button and table hovers, focus states on large screens ONLY  */
@media screen and (min-width: 780px) {
  
  #toggle, header.wrapper > nav:nth-child(2) > label:nth-child(1) {
    display: none;
  }

  .navList a:hover, .navList a:focus {
    color:red;
  } 

  form button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
  }
  form button:active {
    border-top-color: #1b435e;
    background: #1b435e;
  }
  
  tbody tr:hover {
    background-color: rgb(238, 238, 180);
  }

  .fa-trash-alt:hover, .fa-trash-alt:focus {
    cursor: pointer;
    color: red;
  }
}

/* make the table responsive by taking advantage of the 'data-title' attribute*/
@media screen and (max-width: 780px) {

  #newRequester {
    width: 260px;
  }

  #newDescription {
    width: 400px;
  }

  /* make each table separate from other ones */
  table {
    width: 75%;
  }

  /* hide the original header row thead */
  thead {
    display: none;
  }

  tr {
    margin-bottom: 20px;
  }

  td {
    font-size: 2rem;
    margin: 10px 0;
  }

  table:nth-child(2) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1) {
    margin-top: 0;
  }

  tbody, tr, th, td, tbody td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
    td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-size: 2rem;
    font-weight: bold;
  }
  /* hide empty cells*/
  td:empty {
    display: none;
  }

  /* have a hamberger sliding menu show up on smaller screens  */
  header img {
    margin-top: 20px;
  }

  .navList {
    flex-direction: column;
    background: black;
    position: fixed;
    margin-top: 0;
    z-index: 10;
    width: 40%; 
    left: -40%; 
    top: 0;
    height: 50%;
    transition: all 0.5s; 
  }

  .navList li {
    margin: 0;
  }

  .navList a {
    border-bottom: 1px solid grey;
    display: inline-block;
    font-size: 3rem;
    width: 100%;
    padding: 20px;
    transition: all 0.3s; 
  }

  nav input[type="checkbox"]:checked + .navList {
	  left: 0;  
  }

  nav input[type="checkbox"] {
	  display: none;  
  }

  nav label[for="toggle"] {
	  position: fixed;
	  top: 10px;
	  right: 10px;
	  color: #22512b;
	  z-index: 10;  
  }

  .navList a {
    color: white;
  }
}

 /* minor breakpoint  */
@media screen and (max-width: 600px) {
  .navList {
    width: 50%;
    left: -50%;
  }

  .navList a {
    font-size: 3rem;
  }
}

 /* minor breakpoint  */
@media screen and (max-width: 480px) {
  .navList {
    width: 75%;
    left: -75%;
    padding: 20px 0;
  }

  .navList a {
    font-size: 2.5rem;
  }

  main.wrapper > section:nth-child(1) > h1:nth-child(1) {
    font-size: 3rem;
  }

  #newRequester {
    width: 50vw;
  }

  #newDescription {
    width: 80vw;
  }

  .priorityItems label {
    margin-left: 10px;
  }
  
  #newPriorityMedium {
    margin-left: 15px;
  }

  #newPriorityHigh {
    margin-left: 15px;
  }

  table {
    width: 100%;
  }

  footer.wrapper p {
    font-size: 1.2rem;
  }

}


